<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>Hability</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/index" style="color: goldenrod; border: 1px solid goldenrod;">HOME</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="/hability" id="navbardrop">
          HABILITY
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/item" id="navbardrop">
          ITEM
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/character" id="navbardrop">
          CHARACTER
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/zone" id="navbardrop">
          ZONE
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/mision" id="navbardrop">
          MISION
        </a>
      </li>
    </ul>
  </nav>
  
  <form class="form-register">
    <div class="form-group">
      <label for="habilityName">Name</label>
      <input type="text" class="form-control" id="habilityName">
    </div>
    <div class="form-group">
      <label for="habilityLife">Life</label><br>
      <input type="number" size="6" name="Energy" min="0" value="">
    </div>
    <div class="form-group">
      <label for="habilityEnergy">Energy</label><br>
      <input type="number" size="6" name="Energy" min="0" value="">
    </div>
    <div class="form-group">
      <label for="habilityType">Type</label>
      <input type="text" class="form-control" id="habilityName">
    </div>
    <button type="submit" class="btn btn-primary" id="addHability">Add hability</button>
  </form>

  <div class="card"  th:each="hability : ${habilities}">
    <div class="card-body">
      <h5 class="card-title" th:text="${hability.name}">Name</h5>
      <img src="img/magic-wand.png" class="card-img-top" alt="hability image">
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" th:text="${hability.life}">VIDA</li>
      <li class="list-group-item" th:text="${hability.energy}">ENERGIA</li>
      <li class="list-group-item" th:text="${hability.type}">TIPO</li>
    </ul>
    <div class="card-body">
      <button type="submit" class="btn btn-primary" id="deletehability">Delete hability</button>
    </div>
  </div>

  <div class="card-footer text-muted">
    Ivan Sampere &copy;
  </div>

</body>
</html>