<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Index</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/index">
        <img src="img/house-fill.svg" width="30" height="30" alt="">
      </a>
    </nav>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/hability">Hability</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Item
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/armor">Armor</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/weapon">Weapon</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/consumable">Consumables</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/character">Character</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/zone">Zone</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mision">Mision</a>
        </li>
      </ul>
    </div>
  </nav>
  
  
  <div class="container">
    <img src="img/gifVideojuego.gif" class="img-fluid" alt="Responsive image">
  </div>
  
  <div class="card-footer text-muted">
    Ivan Sampere &copy;
  </div>
  
</body>
</html>